* {
	box-sizing: border-box;
}
html {
	height: 100vh;
}
body {
	height: 100vh;
}
img {
	display: block;
}
#wrapper {
	width: 100%;
	height: 100vh;
	background-image: #ccc;
	display: table;
}

#content {
	width: 100%;
	height: 100%;
	background-image: url(bg.jpg);
	background-size: cover; 
	background-position: center;
	float: left;
	transition: width 1s;
}
#content.active {
	width: calc(100% - 380px);
}
#innerContent {
	width: calc(100% - 70px);
	height: 100%;
	float: left;
}
#logo {
	height: 100%;
	padding: 20px;
	float: left;
}

/*Navigation buttons in content area*/
#navList {
	height: 100%;
	float: left;
}
.navElements {
	margin-top: 20px;
	transition: all .2s;
}
.navElements.active {background-color: #7dd5c9;}

/*Navigation Menu*/
#menu {
	width: 0px;
	height: 100%;
	float: left;
	transition: width 1s;
}

.a1 {background-color: #999;}
.a2 {background-color: #888;}
.a3 {background-color: #777;}

#menu.active {
	width: 380px;
}
#close {
	display: none;
	float: right;
	padding: 25px;
}
#close.active {
	display: block;
	animation: opacity .5s;
}
@keyframes opacity {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

/*Footer Area*/
#footer {
	height: 350px;
	width: 100%;
	background-image: url(footer.jpg);
	background-size: cover; 
	background-position: center;
}