* {
	box-sizing: border-box;
}
html {
	height: 100vh;
}
body {
	height: 100vh;
}
img {
	display: block;
}
#wrapper {
	width: 100%;
	height: 100vh;
	background-image: #ccc;
	display: table;
}
#content {
	width: 100%;
	height: 100%;
	background-image: url(bg.jpg);
	background-size: cover; 
	background-position: center;
	float: left;
	transition: width 1s;
}
#content.active {
	width: calc(100% - 380px);
}
#logo {
	height: 100%;
	padding: 20px;
	float: left;
}
#navList {
	height: 100%;
	float: right;
}
.navElements {
	margin-top: 20px;
}
.navElements.active {
	background-color: #7dd5c9;
}
#footer {
	height: 350px;
	width: 100%;
	background-image: url(footer.jpg);
	background-size: cover; 
	background-position: center;
}
#menu {
	width: 0px;
	height: 100%;
	background-color: #111f39;
	background-image: url(menu.jpg);
	background-position: top-center;
	background-repeat: no-repeat;
	float: left;
	transition: width 1s;
}
#menu.active {
	width: 380px;
}